<!DOCTYPE html>
<html lang="en">
	<%- include ('partials/head.html') %>
<body>	
	<%- include ('partials/navigator.html') %>
    <div class="jumbotron">
  <h1 class="display-4 font-weight-bold">Carmen Mérida</h1>
  <p class="font-italic font-weight-bold" >Los modelos de sombrero confeccionados a mano, con diseño exclusivo, con textiles de alta calidad.</p>
  <div class="container">
      <div class="row"> 
        <div class="col-sm-12 col-md-4 ">    
                <img src="images/hattan_0.jpg" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-8 ">    
                <p>     Hattan es una firma que nace en España (2020) de las manos de la diseñadora Carmen Mérida, enamorada del arte, los gatos y por encima de todo de los sombreros.

En un pequeño estudio de Madrid se crean las ediciones limitadas de sombreros reversibles que dan nombre a Hattan. Estos son realizados con telas seleccionadas cuidadosamente de diversas procedencias: olvidadas en baúles de casas y almacenes, rescatadas de restos de tejidos de otros diseñadores…

Diseñamos y confeccionamos piezas exclusivas, sombreros hechos a mano desde el minuto cero, creaciones especiales pensadas para perdurar en el tiempo.</p>



<p class="font-italic font-weight-bold">“Que tu sombrero Hattan te acompañe en tu camino a Ítaca”</p>
                               
        </div>
      </div>
  </div>
  <hr class="my-4">
  <div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title h3">Es necesario el sombrero</h5>
    <img src="images/calle.jpg" class="img-fluid">
    <p class="card-text"><small class="text-muted">Mercado de sombreros de verano</small></p>
  </div>
</div>

</div>
	<footer><p class="h6">luis&copy;</p></footer>	
</body>
</html>
